<p-fileUpload
  name="demo[]"
  url="./upload.php"
  (onUpload)="onUpload($event)"
  (onSelect)="onFileChange($event)"
>
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">
        {{ file.name }} - {{ file.size }} bytes
      </li>
    </ul>
  </ng-template>
</p-fileUpload>

<p-toast></p-toast>

<p-table
  #dt
  [value]="output"
  selectionMode="multiple"
  [(selection)]="selectedProducts"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-o"
        (click)="dt.exportCSV()"
        class="p-mr-2"
        pTooltip="CSV"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-excel"
        (click)="exportExcel()"
        class="p-button-success p-mr-2"
        pTooltip="XLS"
        tooltipPosition="bottom"
      ></button>
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-filter"
        (click)="dt.exportCSV({ selectionOnly: true })"
        class="p-button-info p-ml-auto"
        pTooltip="Selection Only"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    <tr>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="client.Name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ client.Name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="client.Address" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ client.Address }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="client.Phone" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ client.Phone }}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
</p-table>
